* {
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    -webkit-appearance: none;
}
*::-webkit-scrollbar:vertical {
    width: 9px;
}
*::-webkit-scrollbar:horizontal {
    height: 9px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
}
*::-webkit-scrollbar-track { 
    background-color: #fff; 
    border-radius: 8px; 
} 

:root {
    --btJost: "Jost", sans-serif;
    --btOld: "Old Standard TT", serif;
}

button, .gomb {
    width: 12vw;
    height: 6vh;

    color: white;
    font-family: var(--btJost);
    font-size: 1.25vw;
    
    border: none;
    background: #BD8C62;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.csik {
    width: 12.5%;
    height: 1px;

    background-color: #BD8C62;
    margin: 0 auto;
}

.kezdooldal::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: -1;
}

.kezdooldal {
    position: relative;
    width: 100%;
    height: 100vh;

    z-index: 0;

    background: url(kep1.png) center/cover no-repeat;

    & nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        margin-left: auto;
        margin-right: auto;

        width: 75%;
        height: 11vh;

        & p {
            color: white;

            font-family: var(--btJost);
            font-weight: 400;
            font-size: 1.5vw;
        }
    }

    & section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        margin-left: 10vw;
        margin-top: 17.5vh;
        width: 60%;
        height: 50vh;

        & span {
            color: #BD8C62;

            font-family: var(--btOld);
            font-weight: 700;
            font-size: 3.25vw;

            padding-left: 0.5vw;
        }

        & p {
            width: 70%;

            color: white;
            font-family: var(--btJost);
            font-weight: 300;
            font-size: 1.33vw;
        }

        animation: anim-lineUp 2s ease-out both;
    }
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}

.cegunkrol {
    width: 100%;
    height: 100vh;

    background: #1A1B1D;

    display: flex;
    align-items: center;

    & .baloldal {
        display: flex;

        width: 50%;
        height: 80vh;

        & div {
            width: 100%;
            height: 100%;
            margin-left: 7.5vw;

            word-break: break-word;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            & h1 {
                width: 75%;
                
                color: #BD8C62;
                font-family: var(--btOld);
                font-size: 3.125vw;
            }
    
            & span {
                color: #BD8C62;
                font-family: var(--btJost);
                font-size: 1.75vw;
            }

            & p {
                color: white;
                font-family: var(--btJost);
                font-size: 1.25vw;
            }

            & button {
                margin-top: 1vh;
            }
        }
    }

    & .jobboldal {
        width: 50%;
        height: 100vh;

        .kepek {
            width: 100%;
            height: 100%;

            .kep1, .kep2 {
                width: 25vw;
                height: 25vw;

                border: 5px solid #BD8C62;

                position: relative;
                left: 12.5%;
                top: 12.5%;
            }

            .kep1 {
                background: url(kep2.png) center/cover no-repeat;
                z-index: 0;
            }

            .kep2 {
                background: url(kep1.png) center/cover no-repeat;
                z-index: 1;
                transform: translate(50%, -50%);
            }
        }
    }
}

.ajanlataink {
    width: 100%;
    height: 100vh;

    background: #2B2C30;

    display: flex;

    & .baloldal {
        width: 50%;
        height: inherit;
        
        display: flex;

        & .content {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            margin-left: 7.5vw;

            & h1 {
                width: 75%;

                color: #BD8C62;
                font-family: var(--btOld);
                font-weight: 400;
                font-size: 3.25vw;
            }
    
            & .kep {
                width: 40vw;
                height: 45vh;
                
                margin-top: 5vh;

                border: 5px solid #BD8C62;
                background: url(kep3.png) center/cover no-repeat;
            }
        }
    }

    & .jobboldal {
        width: 50%;
        height: inherit;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        & .kep {
            width: 40vw;
            height: 45vh;

            border: 5px solid #BD8C62;
            background: url(kep4.png) center/cover no-repeat;
        }

        & span, p {
            width: 40vw;

            font-family: var(--btJost);
            text-align: justify;
        }

        & span {
            color: white;
            font-size: 1.25vw;
        }

        & p {
            color: #BD8C62;

            font-size: 1.75vw;
        }
    }
}

.berelheto {
    width: 100%;
    height: 100vh;

    background-color: #1A1B1D;

    & h1 {
        color: #BD8C62;
        font-family: var(--btOld);
        font-weight: 400;
        font-size: 3vw;
        text-align: center;
        padding-top: 4vh;
    }

    & .container {
        width: 80%;
        height: 80vh;
        margin: 0 auto;
        padding-top: 8vh;

        display: flex;
        justify-content: space-evenly;

        & .kep {
            width: 40%;
            height: 90%;

            border: 5px solid #BD8C62;
            background: url(kep1.png) center/cover no-repeat;
        }

        & .jobboldal {
            width: 45%;
            height: 90%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            font-family: var(--btJost);

            & p {
                color: white;
                font-weight: 300;
                font-size: 1.25vw;
                text-align: justify;
            }

            & h2 {
                color: #BD8C62;
                font-size: 2.25vw;
                font-weight: 400;
                padding-bottom: 1vh;
            }
        }
    }
}

.galeria {
    width: 100%;
    height: 82.5vh;

    background: #1A1B1D;

    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
        color: #BD8C62;
        font-family: var(--btOld);
        font-weight: 400;
        font-size: 3vw;
        text-align: center;
    }

    & .csik {
        width: 10%;
    }

    & .kepek {
        width: 80%;
        height: 40vh;
        padding-top: 6vh;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        gap: 2vw;

        & img {
            width: 15vw;
            height: 15vw;
            object-fit: cover;
        }
    }
}

.kapcsolat::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: -1;
}

.kapcsolat {
    position: relative;
    width: 100%;
    height: 100vh;

    z-index: 0;

    background: url(kep8.png) center/cover no-repeat;

    display: flex;
    align-items: center;

    & .baloldal {
        width: 50%;
        height: 100%;

        display: flex;
        align-items: center;

        & .content {
            height: 90%;
            margin-left: 12vw;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            & h1 {
                color: #BD8C62;
                font-family: var(--btOld);
                font-weight: 400;
                font-size: 3vw;
            }

            & p {
                color: white;
                font-family: var(--btJost);
                font-weight: 300;
                font-size: 1.3vw;
            }

            & iframe {
                border: 0;
                width: 75%;
                height: 55%;
            }
        }
    }

    & .jobboldal {
        width: 50%;
        height: 90%;

        display: flex;

        & form {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            padding-left: 5vw;
            & div {
                display: flex;
                flex-direction: column;

                & label {
                    color: #BD8C62;
                    font-family: var(--btJost);
                    font-size: 1.33vw;
                }

                & input, textarea {
                    width: 25vw;
                    height: 5vh;

                    font-family: var(--btJost);
                    font-size: 1.125vw;
                    padding: 0.55vw;
                }

                & textarea {
                    height: 20vh;

                    resize: none;
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: 15vh;

    background: #1A1B1D;

    color: white;
    font-family: var(--btJost);
    font-size: 1.33vw;

    display: flex;
    align-items: center;
    justify-content: center;

    & .content {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;

        & .bal, .kozep, .jobb {
            width: calc(100% / 3);

            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}